<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insert</title>
</head>
<body>

    <form action="/things/insert" method="post">
        t_id:<input type="text" name="t_id"><br>
        t_name:<input type="text" name="t_name"><br>
        t_dis:<input type="text" name="t_dis"><br>
        t_coll_count:<input type="text" name="t_coll_count"><br>
        inventory:<input type="text" name="inventory"><br>
        t_img:<input type="text" name="t_img"><br>
        heat:<input type="text" name="heat"><br>
        mark:<input type="text" name="mark"><br>
        state:<input type="text" name="state"><br>
    </form>

</body>
</html>