<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/admin/login" method="post">
        用户名:<input type="text" name="name"><br>
        <!--id：<input type="text" name="id"><br>-->
        <!--haoma：<input type="text" name="number"><br>-->
        密码：<input type="password" name="password"><br>
        <!--email：<input type="text" name="email"><br>-->
        <!--新密码：<input type="password" name="npassword">-->
        <input type="submit" value="提交"><br>
    </form>
</body>
</html>