<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>servlet01</display-name>
  
  <servlet>
  	<servlet-name>hello</servlet-name>	
  	<servlet-class>com.oracle.HelloServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>hello</servlet-name>	
  	<url-pattern>/admin/hello</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>first</filter-name>
  	<filter-class>com.oracle.FirstFilter</filter-class>
  
  	<init-param>
  		<param-name>ss</param-name>
  		<param-value>dd</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>first</filter-name>
  	<url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>