<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CommentMapper">
    <resultMap id="admin" type="com.example.entity.Admin">
        <id column="u_id" property="userId"/>
        <result column="u_name" property="name"/>
        <result column="u_pur" property="imageURL"/>
        <result column="u_pwd" property="password"/>
        <result column="u_emil" property="email"/>
        <result column="u_signature" property="signature"/>
        <result column="u_tel" property="tel"/>
        <result column="u_vip" property="vip"/>
        <result column="state" property="state"/>
    </resultMap>
    <resultMap id="comment" type="com.example.entity.Comment">
        <id column="id" property="commentId"/>
        <result column="t_id" property="productId"/>
        <result column="o_id" property="orderId"/>
        <result column="u_id" property="userId"/>
        <result column="image_path" property="imageURL"/>
        <result column="description" property="description"/>
        <result column="time" property="time"/>
        <result column="star" property="star"/>
    </resultMap>
    <resultMap id="order" type="com.example.entity.Order">
        <id column="o_id" property="orderId"/>
        <result column="u_id" property="userId"/>
        <result column="o_stauts" property="state"/>
        <result column="o_price" property="totalPrice"/>
        <result column="o_num" property="number"/>
        <result column="final_price" property="finalPrice"/>
        <result column="o_starttime" property="verifyTime"/>
        <result column="o_finishtime" property="finishTime"/>
        <result column="o_number" property="orderNumber"/>
    </resultMap>
    <resultMap id="orderItem" type="com.example.entity.OrderItem">
        <id column="uo_id" property="orderItemId"/>
        <result column="o_id" property="orderId"/>
        <result column="t_id" property="productId"/>
        <result column="gs_id" property="productSpecificationId"/>
        <result column="logo" property="logo"/>
        <result column="uo_num" property="number"/>
        <result column="final_pay" property="finalPrice"/>
    </resultMap>
    <resultMap id="commentList" type="com.example.vo.CommentList">
        <id column="id" property="commentId"/>
        <result column="u_pur" property="userPic"/>
        <result column="u_name" property="userName"/>
        <result column="time" property="commentTime"/>
        <result column="gd_desc" property="articleType"/>
        <result column="description" property="commentContent"/>
        <result column="image_path" property="articlePic"/>
        <result column="state" property="state"/>
    </resultMap>
    <resultMap id="reply" type="com.example.entity.CommentReply">
        <id column="replyId" property="replyId"/>
        <result column="commentId" property="commentId"/>
        <result column="connect" property="replyConnect"/>
        <result column="time" property="replyTime"/>
     </resultMap>

    <insert id="addComment">
        insert into comment(t_id,o_id,u_id,image_path,description,time,star,state)
        values ((select t_id from user_order where o_id=(select o_id from orders where o_number=#{orderId})),
                (select o_id from orders where o_number=#{orderId}),
                (select u_id from orders where o_number=#{orderId}),
                #{pic},#{commentContent},#{date},#{star},1);
    </insert>

    <insert id="addReply" parameterType="com.example.entity.CommentReply">
        insert into commentreply(commentId,connect,time)
        values ((select id from comment where (select o_id from orders where o_number=#{orderId})=comment.o_id),#{connect},#{date})
    </insert>

    <update id="updateReply">
        update comment set state=1 where (select o_id from orders where o_number=#{orderId})=o_id;
    </update>

    <select id="findAllCommentByArticle" resultType="com.example.vo.CommentList" resultMap="commentList">
        select c.id,a.u_pur,a.u_name,c.time,gs.gd_desc,c.description,c.image_path,c.state
        from admin a,comment c,user_order uo,goods_specific gs
        where  c.t_id=#{articleId} and c.u_id=a.u_id and c.o_id=uo.o_id and uo.gs_id=gs.gs_id;
    </select>

    <select id="findChild" resultType="com.example.entity.CommentReply" resultMap="reply">
        select * from commentreply where commentId=#{commentId}
    </select>

    <select id="findAllCommentByUser" resultType="com.example.vo.CommentList" resultMap="commentList">
        select c.id,a.u_name,a.u_pur,c.time,gs.gd_desc,c.description,c.image_path,c.state
        from admin a,comment c,user_order uo,goods_specific gs
        where c.u_id=#{userId} and a.u_id=c.u_id and  c.o_id=uo.o_id and uo.gs_id=gs.gs_id;
    </select>

    <select id="findCount" parameterType="int" resultType="int">
        select count(*) from comment where u_id=#{userId}
    </select>

    <select id="getStar" resultType="com.example.entity.Comment">
        select star from comment where t_id=#{articleId}
    </select>
</mapper>