<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ProductMapper">

    <!--   一个商品有多张图片     -->
    <resultMap id="productResultMap" type="com.example.entity.Product">
        <result column="t_id" property="productId" />
        <result column="c_id" property="productTypeId" />
        <result column="c_id2" property="productTypeId2" />
        <result column="t_name"  property="name" />
        <result column="t_dis"  property="description" />
        <result column="t_coll_count"  property="collectTimes" />
        <result column="inventory"  property="inventory" />
        <result column="heat"  property="heat" />
        <result column="mark"  property="mark" />
        <result column="state"  property="state" />
        <result column="discount"  property="discount" />
        <result column="logo"  property="logo" />
    </resultMap>

    <!--图片的映射-->
    <resultMap  id="productImageResultMap" type="com.example.entity.ProductImage">
        <result property="productImageId" column="id"/>
        <result property="procuctId" column="t_id"/>
        <result property="imageURL" column="pro_image"/>
        <result property="description" column="decription"/>
        <result property="state" column="state"/>
    </resultMap>

    <!--   一级分类的映射   -->
    <resultMap id="productType1ResultMap" type="com.example.entity.ProductType">
        <id column="c_id" property="productTypeId" />
        <result column="c_name"  property="ProductTypeName" />
        <result column="state"  property="state" />
    </resultMap>

    <!--   二级分类的映射   -->
    <resultMap id="productType2ResultMap" type="com.example.entity.ProductType2">
        <id column="c_id2" property="productTypeId2" />
        <result column="c_name2"  property="ProductTypeName2" />
        <result column="state2"  property="state" />
        <result column="c_id1"  property="productTypeId" />
    </resultMap>

    <!--    一个分类有多个商品      -->
    <!--<resultMap id="productTypeResultMap" type="com.example.entity.ProductType">
        <id column="c_id" property="productTypeId" />
        <result column="c_name"  property="ProductTypeName" />
        <result column="state"  property="state" />

        <association property="product" javaType="com.example.entity.Product" column="c_id">
            <id column="t_id" property="productId" />
            <result column="t_name"  property="name" />
            <result column="t_dis"  property="description" />
            <result column="t_coll_count"  property="collectTimes" />
            <result column="inventory"  property="inventory" />
            <result column="t_img"  property="imgURL" />
            <result column="heat"  property="heat" />
            <result column="mark"  property="mark" />
            <result column="state"  property="state" />
            <result column="discount"  property="discount" />
        </association>
    </resultMap>-->

    <!--  通过一级分类下的二级分类查商品  -->
    <select  id="queryProductByProductType2" parameterType="int" resultType="Product">
        select * from product where c_id in(select c_id from producttype2 where c_id2 = #{c_id2} );
    </select>


    <!--   通过一级分类查询商品   -->
    <select id="queryProductByProductType1"  parameterType="int" resultType="Product">
         select p.t_id,p.c_id,p.t_name,p.t_dis,p.t_coll_count,p.inventory,p.heat,p.mark,p.state,p.discount,p.logo
                from product p where p.c_id = #{c_id};
    </select>


    <!--   查询一个商品的所有图片  p_id为商品的id   -->
    <select id="queryImageByProduct" resultMap="productImageResultMap" parameterType="int">
         select * from product_image where t_id = #{p_id}
    </select>



</mapper>
